<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" colors="true" bootstrap="tests/bootstrap.php" cacheResult="false" beStrictAboutOutputDuringTests="true" cacheDirectory=".phpunit.cache">
  <php>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
  </php>
  <testsuites>
    <testsuite name="PostHogBundle test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
